@{
    var nonce = Context.Items["CSPNonce"]?.ToString();
}
<div class="modal fade" id="loginModal" tabindex="-1" aria-hidden="true" role="dialog" aria-modal="true"
    aria-labelledby="loginModalTitle">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header d-flex justify-content-between">
                <h5 id="loginModalTitle" class="modal-title">Login</h5>
                <button type="button" class="btn-close" id="loginCloseButton" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form class="form-validate" id="loginForm">
                    <div class="form-group">
                        <label class="form-label" for="loginInfo">Username/Email</label>
                        <div class="form-control-wrap">
                            <input type="text" class="form-control" id="loginInfo" placeholder="Enter your username or email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="loginPassword">Password</label>
                        <div class="form-control-wrap">
                            <input type="password" class="form-control" id="loginPassword" placeholder="Enter your password" required>
                        </div>
                    </div>
                </form>
                <div class="form-note-s2 text-center pt-4">
                    Need an account?
                    <a href="#" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#signupModal"><strong>Register for an account</strong></a>
                </div>

                <div class="text-center pt-4 pb-3">
                    <h6 class="overline-title"><span>OR</span></h6>
                </div>

                <ul class="nav justify-center gx-8">
                    <a class="btn btn-light" href="#"><em class="icon ni ni-spotify"></em> Spotify</a>
                </ul>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" id="loginCancelButton"
                    data-bs-dismiss="modal">Cancel</button>
                <button type="submit" form="loginForm" class="btn btn-accent" id="loginSubmitButton">Login</button>
            </div>

        </div>
    </div>
</div>

<style>

</style>

<script>

</script>